body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background: #282a36;
  color: white;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}


.mainn{
  position: relative;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  height: 100vh;
  width: 100vw;
}
.loader{
  position: relative;
  width: 150px;
  height: 150px;
  background-color: #011322;;
  border-top: 1.5px solid #7cff01;
  ;border-radius: 50%;
  animation: 2s deg linear infinite;
  box-shadow: 0px 0px 3px .5px #7cff01;
}

.loader::after{
  content:"";
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  background-color: #011322;
  border-bottom: 1.5px solid #011522;
  box-shadow: 0px 0px 3px .5px #011552;
}
@keyframes deg{
    0%
  {
transform: rotate(0deg) 
  }
   
  100% {
    transform: rotate(360deg) ;
       }
}



.a {
display: inline-block;
position: relative;
width: 180px;
height: 180px;
}
.a div {
position: absolute;
border: 5px solid #3cb9ff ;
opacity: 1;
border-radius: 50%;
animation: a 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.a div:nth-child(2) {
animation-delay: -0.5s;
}
@keyframes a {
0% {
top: 90px;
left: 90px;
width: 0;
height: 0;
opacity: 0;

}
4.9% {
top: 90px;
left: 90px;
width: 0;
height: 0;
opacity: 0;
}
5% {
top: 90px;
left: 90px;
width: 0;
height: 0;
opacity: 1;
}
100% {
top: 0px;
left: 0px;
width: 180px;
height: 180px;
opacity: 0;
}
}


.dashboard {
  display: flex;
  display: grid;
  height: 100vh;
  place-items: center;
  background: #243b47;
}

svg {
  width: 114px;
  height: 114px;
  margin: 1em;
}

.bg {
  fill: none;
  stroke-width: 10px;
  stroke: #1a2c34;
}

.mainpage {
  display: none;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #000000;
  position: fixed;
  height: 100%;
  overflow: auto;
  color: #ffffff;
  text-align: center;
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04aa6d;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.avt-box {
  padding: 20px;
}

.avt {
  width: 120px;
  border-radius: 85px;
  border: 2px solid;
}

@media screen and (max-width: 700px) {
  .avt-box {
    display: none;
  }
}

.content {
  display:none;
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: 10px;
}

@media screen and (max-width: 1100px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 10px;
  }
}

@media screen and (max-width: 900px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 10px;
  }
}

@media screen and (max-width: 800px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding: 10px;
  }
}

@media screen and (max-width: 700px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 10px;
  }
}

@media screen and (max-width: 500px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding: 10px;
  }
}

.card {
  border-top: none;
  margin: 10px;
  cursor: pointer;
  position: relative;
  background: #191b22;
}

.card-img {
  width: 100%;
}

.card-info {
  text-align: center;
  word-break: normal;
}

.overlay {
  transition: 0.35s ease;
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
  text-align: center;
  background: #000000;
  background: rgba(0, 0, 0, 0.85);
  /* Black see-through */
}

.card:hover .overlay {
  opacity: 1;
}

.card:hover .card-info {
  -webkit-filter: blur(1px);
  filter: blur(1px);
  color: rgb(150, 150, 150);
}
